.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: thin solid #dfdfdf;
  background-color: #fafafa;
  color: #222222;
  z-index: 9999;
  box-sizing: border-box;
  width: 350px;
  height: 240px;
  padding: 10px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  box-shadow: 6px 6px 12px 4px #ababab;
}

.-hidden {
  display: none;
}

.row1,
.row2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.row2 {
    max-height: 70px;
}
.close {
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  color: #ababab;
}

.close:hover {
  color: #dadada;
  background-color: #ababab;
  cursor:pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #ababab;
}

.tip-container {
  box-sizing: border-box;
  width: 295px;
  height: 140px;
  overflow: hidden;
  background-color: #ffffff;
  border: thin solid #000000;
  padding: 10px;
  margin: 0 0 25px 0;
}

.tip-header {
  font-weight: bold;
  text-transform: uppercase;
}

.tip-content {
  font-size: 14px;
}

.dismiss {
  font-size: 16px;
  color: #888888;
}

.dismiss:hover {
  cursor:pointer;
  box-shadow: 0 0 2px 2px #ababab;
}

.close,
.dismiss,
.controls {
  user-select: none;
}

.prev, .next, .bullets-container, .bullet {
  display: inline-block;
}

.prev, .next {
  color: #ababab;
  border: thin solid #ababab;
  border-radius: 50%;
  font-size: 24px;
  line-height: 25px;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: top;
}

.prev:hover,
.next:hover {
  color: #dadada;
  background-color: #ababab;
  cursor:pointer;
  box-shadow: 0 0 2px 2px #ababab;
}

.bullets-container {
  width:100px;
  text-align:center;
  font-size: 0;
}

.bullet {
  color: #dadada;
  width: 12px;
  font-size: 30px;
  line-height: 24px;
}

.-current {
  color: #1144bb;
}
